body{
    margin: 20;
    padding: 40px 60px;
    
}
.headline{
    font-size: 20px;
}
.aim1{
    height: 350px;
}
.aim2{
    font-size: 30px;
}
.aim{
    font-size: 30px;
}
.box{
    padding: 10px;
}
.nav-brand:focus,
.nav-brand:hover{
    color: black;
}
.navbar-link{
    color: black;
}